<!-- top bar/ navigation -->
<div class="header-bar absolute w-full text-white z-10 flex {$navBackground}" style="justify-content: stretch; height: 80px;">
    <div class="header-bar-wrapper px-4 mx-auto flex align-center w-full">
        <div class="header-bar-logo-container font-bold w-auto flex-grow md:flex-no-grow md:w-1/5 text-xl flex items-center py-2 flex-no-shrink">
            <a href="{url id=1}" class="header-bar-logo flex h-full w-full items-center" title="{site id=1 attribute=title}">
                <img src="{$logoUrl}" alt="{$logoAlt}" class="max-h-full"/>
            </a>
        </div>

        <div class="header-bar-nav w-auto md:w-4/5 lg:w-3/5 text-sm flex items-center justify-center flex-shrink md:flex-no-shrink">
            {$MegaMenu->create()}
        </div>

        <div class="header-bar-right hidden md:flex md:w-1/5 text-sm items-center justify-end py-2">

            <!-- das hier nur auf landig pages -->
            <!--<a href="#" class="btn border-2 btn-outline-white">Anmelden</a>-->
        </div>
    </div>
</div>