/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

body {
    @apply font-open-sans h-screen text-grey-darkest leading-normal font-light text-base;
}

.body-container {
    @apply bg-white;
}

.content-body,
.content-template {
    @apply my-8;
}

.btn {
    @apply py-3 px-5 rounded font-bold border-2 shadow-md inline-block;
    transition: 0.25s all;
}

.btn-small {
    @apply py-2 px-3 text-sm font-normal;
}

.btn-primary {
    @apply bg-blue text-white;
}

.btn-outline {
    @apply bg-transparent text-blue-dark border border-blue;

}

.btn-outline:hover {
    @apply bg-blue text-white border-transparent;
}

.btn-red {
    @apply bg-red text-white border-red;
}

.btn-red:hover {
    @apply shadow-lg border-red-dark bg-red-dark text-white;
}

.btn-blue {
    background-color: #62b1f9;
    color: #fff;
}

.btn-white {
    @apply bg-white text-grey-darkest border-transparent;
}

.btn-white:hover {
    @apply shadow-lg text-grey-darkest;
}

/* outline white */
.btn-outline-white {
    @apply text-white border-2;
    background-color: rgba(255,255,255, 0.1);
}

.btn-outline-white:hover {
    @apply bg-white text-grey-darkest border-transparent;
}

/*************/
/* Mega Menu */
/*************/
.header-bar-nav-item.quiqqer-menu-megaMenu-list-item {
    @apply font-normal mx-1 my-0 h-full flex items-center;
    padding: 0 !important;
}

.header-bar-nav-item a {
    @apply px-4 py-2 items-center text-grey-lighter;
    @apply flex !important;
    border-radius: 5px;
}

.header-bar-nav-item a:hover {
    background: rgba(0,0,0,0.075);
}

.quiqqer-menu-megaMenu-list-item--current a,
.quiqqer-menu-megaMenu-list-item--current a:hover {
    background: rgba(255, 255, 255, 0.15);
}

.quiqqer-menu-megaMenu-list-item-menu {
    @apply text-black;
}

/* header nav alt */
.header-bar-alt {
    @apply border-grey-light !important;
    @apply border-b;
}
.header-bar-alt .header-bar-nav-item a {
    @apply text-black;
}

.header-bar-alt .quiqqer-menu-megaMenu-list-item--current a {
    background: #e6ebf1;
}

/**************/
/* breadcrumb */
/**************/
.breadcrumb {
    @apply border-b border-grey-light bg-grey-lightest;
}

/**************/
/* pagination */
/**************/
.quiqqer-sheets-desktop a:hover,
.quiqqer-sheets-desktop-limits a.active, .quiqqer-sheets-desktop-current {
    background-color: #276ccc !important;
    @apply text-white !important;
}



/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

a {
    @apply text-grey-darkest font-normal;
    /*color: #154a95;*/
}

a:hover {
    color: #276ccc;
}

.page-footer a {
    @apply text-grey-dark;
}

.page-footer a:hover {
    @apply text-grey;
}

ul, ol {
    @apply mb-4 pl-5 pr-0;
}

li {
    @apply mb-2;
}

h1, h2, h3, h4, h5 {
    @apply font-light leading-tight;
    margin-bottom: 1rem;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

a {
    @apply no-underline;
}

p {
    @apply mb-4;
}

@screen sm {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

}

@screen md {
    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }
}
