/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

body {
    @apply font-open-sans h-screen text-grey-darkest leading-normal font-light text-base;
}

.body-container {
    @apply bg-white;
}

.content-body,
.content-template {
    @apply my-8;
}

/***********/
/* buttons */
/***********/
.btn,
.button,
button {
    @apply py-2 px-3 rounded font-bold border-2 shadow-none inline-block leading-normal;
    transition: 0.25s all;
}

.btn:hover,
.button:hover,
button:hover {
    @apply text-white shadow-sm no-underline;
    opacity: 0.85;
}

.btn.disabled,
.btn:disabled,
.button.disabled,
.button:disabled,
button.disabled,
button:disabled {
    @apply opacity-50 shadow-none cursor-default;

}

/*******************/
/* buttons: colors */
/*******************/
/* primary */
.btn,
.btn-primary,
button {
    @apply bg-blue border-blue text-white ;
}

.btn-primary-outline,
.btn-primary-outline:hover {
    @apply bg-transparent border-blue text-blue;
}

/* secondary */
.btn-secondary {
    @apply bg-grey-darker border-grey-darker text-white;
}

.btn-secondary-outline,
.btn-secondary-outline:hover {
    @apply bg-transparent border-grey-darker text-grey-darker;
}

/* success */
.btn-success {
    @apply bg-green-dark border-green-dark text-white;
}

.btn-success-outline,
.btn-success-outline:hover {
    @apply bg-transparent border-green-dark text-green-dark;
}

/* danger */
.btn-danger {
    @apply bg-red border-red text-white;
}

.btn-danger-outline,
.btn-danger-outline:hover {
    @apply bg-transparent border-red text-red;
}

/* warning */
.btn-warning {
    @apply bg-orange border-orange text-white;
}

.btn-warning-outline,
.btn-warning-outline:hover {
    @apply bg-transparent border-orange text-orange;
}

/* info */
.btn-info {
    @apply bg-blue-light border-blue-light text-white;
}

.btn-info-outline,
.btn-info-outline:hover {
    @apply bg-transparent border-blue-light text-blue-light;
}

/* light */
.btn-light,
.btn-light:hover {
    @apply bg-grey-light border-grey-light text-grey-darker;
}

.btn-light-outline,
.btn-light-outline:hover {
    @apply bg-transparent border-grey-light text-grey-light;
}

/* dark */
.btn-dark {
    @apply bg-black border-black text-white;
}

.btn-dark-outline,
.btn-dark-outline:hover {
    @apply bg-transparent border-black text-black;
}

/* link */
.btn-link,
.btn-link:hover {
    @apply bg-transparent border-0 text-blue shadow-none;
}

/* white */
.btn-white,
.btn-white:hover {
    @apply bg-white border-white text-grey-darkest;
}

.btn-white-outline,
.btn-white-outline:hover {
    @apply bg-transparent border-white text-white;
}


/*****************/
/* button: sizes */
/*****************/
.btn-xs {
    @apply py-0 px-1 text-sm font-normal;
}

.btn-sm {
    @apply py-1 px-2 text-sm;
}

.btn-lg {
    @apply py-3 px-4 text-lg;
}

.btn-xl {
    @apply py-3 px-5 text-2xl;
}

/*************/
/* Mega Menu */
/*************/
.header-bar-nav-item.quiqqer-menu-megaMenu-list-item {
    @apply font-normal mx-1 my-0 h-full flex items-center;
    padding: 0 !important;
}

.header-bar-nav-item a {
    @apply px-4 py-2 items-center text-grey-lighter;
    @apply flex !important;
    border-radius: 5px;
}

.header-bar-nav-item a:hover {
    background: rgba(0,0,0,0.075);
}

.quiqqer-menu-megaMenu-list-item-menu {
    @apply text-black;
}

/* header nav alt */
.header-bar-alt {
    @apply border-grey-light !important;
    @apply border-b;
}
.header-bar-alt .header-bar-nav-item a {
    @apply text-black;
}

/**************/
/* breadcrumb */
/**************/
.breadcrumb {
    @apply border-b border-grey-light bg-grey-lightest;
}

/**************/
/* pagination */
/**************/
.quiqqer-sheets-desktop a:hover,
.quiqqer-sheets-desktop-limits a.active, .quiqqer-sheets-desktop-current {
    background-color: #276ccc !important;
    @apply text-white !important;
}



/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

a {
    @apply text-blue font-normal;
}

a:hover {
    @apply text-blue-darker underline;
}

.page-footer a {
    @apply text-grey-dark;
}

.page-footer a:hover {
    @apply text-grey;
}

ul, ol {
    @apply mb-4 pl-5 pr-0;
}

li {
    @apply mb-2;
}

h1, h2, h3, h4, h5 {
    @apply font-light leading-tight;
    margin-bottom: 1rem;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

a {
    @apply no-underline;
}

p {
    @apply mb-4;
}

@screen sm {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

}

@screen md {
    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }
}
