<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <!-- page settings-->
                <section name="settings.page">
                    <!-- start page -->
                    <conf name="startPage.title">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="startPage.short">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="startPage.titleAndShortPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>page</defaultvalue>
                    </conf>
                    <conf name="startPage.header">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="startPage.breadcrumb">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>

                    <!--product landing page -->
                    <conf name="productLandingPage.title">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="productLandingPage.short">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="productLandingPage.titleAndShortPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>page</defaultvalue>
                    </conf>
                    <conf name="productLandingPage.header">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="productLandingPage.breadcrumb">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>

                    <!--no sidebar -->
                    <conf name="noSidebar.title">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="noSidebar.short">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="noSidebar.titleAndShortPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>page</defaultvalue>
                    </conf>
                    <conf name="noSidebar.header">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="noSidebar.breadcrumb">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>

                    <!-- no sidebar (thin) -->
                    <conf name="noSidebarThin.title">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="noSidebarThin.short">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="noSidebarThin.titleAndShortPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>page</defaultvalue>
                    </conf>
                    <conf name="noSidebarThin.header">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="noSidebarThin.breadcrumb">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>

                    <!--left sidebar -->
                    <conf name="leftSidebar.title">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="leftSidebar.short">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="leftSidebar.titleAndShortPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>page</defaultvalue>
                    </conf>
                    <conf name="leftSidebar.header">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="leftSidebar.breadcrumb">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>

                    <!-- right sidebar -->
                    <conf name="rightSidebar.title">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="rightSidebar.short">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="rightSidebar.titleAndShortPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>page</defaultvalue>
                    </conf>
                    <conf name="rightSidebar.header">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="rightSidebar.breadcrumb">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                </section>

                <!-- header -->
                <section name="settings.header">
                    <conf name="height">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>250</defaultvalue>
                    </conf>
                    <conf name="imagePosition">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>center</defaultvalue>
                    </conf>
                </section>

                <!-- navigation -->
                <section name="settings.nav">
                    <conf name="showStart">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                </section>

                <!-- color management -->
                <section name="settings.color">
                    <conf name="primary">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="button.primary">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="button.secondary">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="button.success">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="button.danger">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="button.warning">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="button.info">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="button.light">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="button.dark">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="button.link">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>

            </config>

            <window>
                <categories>
                    <category name="templateTailwindCss">
                        <text>
                            <locale group="quiqqer/template-tailwindcss"
                                    var="templateTailwindCss.settings.menu.title"
                                    />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>


                        <!-- page settings-->
                        <settings title="settings.page"
                                  name="settings.page">
                            <title>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.page.title"
                                />
                            </title>

                            <!-- start page -->
                            <text>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.page.startPage.text" />
                            </text>
                            <input conf="settings.page.startPage.title" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.startPage.title"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.startPage.short" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.startPage.short"
                                    />
                                </text>
                            </input>
                            <select conf="settings.page.startPage.titleAndShortPos">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.text"
                                    />
                                </text>

                                <option value="header">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.header"
                                    />
                                </option>
                                <option value="page">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.page"
                                    />
                                </option>
                            </select>
                            <input conf="settings.page.startPage.header" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.startPage.header"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.startPage.breadcrumb" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.startPage.breadcrumb"
                                    />
                                </text>
                            </input>

                            <!-- no product landing page -->
                            <text>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.page.productLandingPage.text" />
                            </text>
                            <input conf="settings.page.productLandingPage.title" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.productLandingPage.title"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.productLandingPage.short" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.productLandingPage.short"
                                    />
                                </text>
                            </input>
                            <select conf="settings.page.productLandingPage.titleAndShortPos">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.text"
                                    />
                                </text>

                                <option value="header">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.header"
                                    />
                                </option>
                                <option value="page">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.page"
                                    />
                                </option>
                            </select>
                            <input conf="settings.page.productLandingPage.header" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.productLandingPage.header"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.productLandingPage.breadcrumb" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.productLandingPage.breadcrumb"
                                    />
                                </text>
                            </input>

                            <!-- no sidebar -->
                            <text>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.page.noSidebar.text" />
                            </text>
                            <input conf="settings.page.noSidebar.title" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.noSidebar.title"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.noSidebar.short" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.noSidebar.short"
                                    />
                                </text>
                            </input>
                            <select conf="settings.page.noSidebar.titleAndShortPos">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.text"
                                    />
                                </text>

                                <option value="header">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.header"
                                    />
                                </option>
                                <option value="page">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.page"
                                    />
                                </option>
                            </select>
                            <input conf="settings.page.noSidebar.header" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.noSidebar.header"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.noSidebar.breadcrumb" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.noSidebar.breadcrumb"
                                    />
                                </text>
                            </input>

                            <!-- no sidebar (thin)-->
                            <text>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.page.noSidebarThin.text" />
                            </text>
                            <input conf="settings.page.noSidebarThin.title" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.noSidebarThin.title"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.noSidebarThin.short" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.noSidebarThin.short"
                                    />
                                </text>
                            </input>
                            <select conf="settings.page.noSidebarThin.titleAndShortPos">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.text"
                                    />
                                </text>

                                <option value="header">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.header"
                                    />
                                </option>
                                <option value="page">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.page"
                                    />
                                </option>
                            </select>
                            <input conf="settings.page.noSidebarThin.header" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.noSidebarThin.header"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.noSidebarThin.breadcrumb" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.noSidebarThin.breadcrumb"
                                    />
                                </text>
                            </input>

                            <!-- left sidebar -->
                            <text>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.page.leftSidebar.text" />
                            </text>
                            <input conf="settings.page.leftSidebar.title" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.leftSidebar.title"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.leftSidebar.short" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.leftSidebar.short"
                                    />
                                </text>
                            </input>
                            <select conf="settings.page.leftSidebar.titleAndShortPos">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.text"
                                    />
                                </text>

                                <option value="header">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.header"
                                    />
                                </option>
                                <option value="page">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.page"
                                    />
                                </option>
                            </select>
                            <input conf="settings.page.leftSidebar.header" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.leftSidebar.header"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.leftSidebar.breadcrumb" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.leftSidebar.breadcrumb"
                                    />
                                </text>
                            </input>

                            <!-- header: right sidebar -->
                            <text>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.page.rightSidebar.text" />
                            </text>
                            <input conf="settings.page.rightSidebar.title" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.rightSidebar.title"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.rightSidebar.short" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.rightSidebar.short"
                                    />
                                </text>
                            </input>
                            <select conf="settings.page.rightSidebar.titleAndShortPos">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.text"
                                    />
                                </text>

                                <option value="header">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.header"
                                    />
                                </option>
                                <option value="page">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="general.settings.titleAndShortPos.page"
                                    />
                                </option>
                            </select>
                            <input conf="settings.page.rightSidebar.header" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.rightSidebar.header"
                                    />
                                </text>
                            </input>
                            <input conf="settings.page.rightSidebar.breadcrumb" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.page.rightSidebar.breadcrumb"
                                    />
                                </text>
                            </input>

                        </settings>

                        <!-- header settings-->
                        <settings title="settings.header"
                                  name="settings.header">
                            <title>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.header.title"
                                />
                            </title>

                            <!-- image size -->
                            <input conf="settings.header.height" type="number">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.header.height.text"
                                    />
                                </text>
                            </input>

                            <!-- header: image position -->
                            <select conf="settings.header.imagePosition">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.header.imagePosition.text"
                                    />
                                </text>

                                <option value="top">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.header.imagePosition.top"
                                    />
                                </option>
                                <option value="center">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.header.imagePosition.center"
                                    />
                                </option>
                                <option value="bottom">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.header.imagePosition.bottom"
                                    />
                                </option>
                            </select>
                        </settings>

                        <!-- nav settings-->
                        <settings title="settings.nav"
                                  name="settings.nav">
                            <title>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.nav.title"
                                />
                            </title>

                            <!-- nav: show start entry in nav? -->
                            <input conf="settings.nav.showStart"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.nav.showStart"
                                    />
                                </text>
                            </input>
                            <text>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.nav.showStart.text"
                                />
                            </text>
                        </settings>

                        <!-- color management -->
                        <settings title="settings.color"
                                  name="settings.color">
                            <title>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.color.title"
                                />
                            </title>


                            <input conf="settings.color.primary"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.color.primary"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.color.primary.desc"
                                    />
                                </description>
                            </input>


                            <!-- buttons -->
                            <text>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="settings.color.button.text"
                                />
                            </text>

                            <!-- primary -->
                            <input conf="settings.color.button.primary"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.color.button.primary"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.color.button.primary.desc"
                                    />
                                </description>
                            </input>

                            <!-- secondary -->
                            <input conf="settings.color.button.secondary"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.color.button.secondary"
                                    />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="settings.color.button.secondary.desc"
                                    />
                                </description>
                            </input>

                        </settings>

                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="page-content">
            <css src="//fonts.googleapis.com/css?family=Open+Sans:300,400,700"/>
            <css src="URL_OPT_DIR/quiqqer/template-tailwindcss/bin/css/style.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-tailwindcss/bin/css/editor.css"/>

            <styles>

                <!-- BUTTONS -->
                <!-- standard -->
                <style element="a">
                    <locale group="quiqqer/template-tailwindcss"
                            var="editor.button.primary"/>
                    <attributes>
                        <attribute name="class">btn btn-primary</attribute>
                    </attributes>
                </style>
                <style element="a">
                    <locale group="quiqqer/template-tailwindcss"
                            var="editor.button.secondary"/>
                    <attributes>
                        <attribute name="class">btn btn-primary</attribute>
                    </attributes>
                </style>

                <!-- outline -->
                <style element="a">
                    <locale group="quiqqer/template-tailwindcss"
                            var="editor.button.primary.outline"/>
                    <attributes>
                        <attribute name="class">btn btn-primary-outline</attribute>
                    </attributes>
                </style>
                <style element="a">
                    <locale group="quiqqer/template-tailwindcss"
                            var="editor.button.secondary.outline"/>
                    <attributes>
                        <attribute name="class">btn btn-secondary-outline</attribute>
                    </attributes>
                </style>
            </styles>
        </wysiwyg>
    </project>
</quiqqer>