<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="templateTailwindCss.settings">
                    <!--<conf name="bgColorSwitcherPrefix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="bgColorSwitcherSuffix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>-->
                </section>
            </config>

            <window>
                <categories>
                    <category name="templateTailwindCss">
                        <text>
                            <locale group="quiqqer/template-tailwindcss"
                                    var="templateTailwindCss.settings.menu.title"
                                    />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>


                        <!--&lt;!&ndash; Background Color Switcher Prefix / Suffix &ndash;&gt;
                        <settings title="templateTailwindCss.settings"
                                  name="templateTailwindCss.settings.bgColorSwitcher">
                            <title>
                                <locale group="quiqqer/template-tailwindcss"
                                        var="templateTailwindCss.settings.bgColorSwitcher.title"
                                        />
                            </title>

                            &lt;!&ndash; Background Color Switcher Prefix &ndash;&gt;
                            <select conf="templateTailwindCss.settings.bgColorSwitcherPrefix">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="templateTailwindCss.settings.bgColorSwitcherPrefix.text"
                                            />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="templateTailwindCss.settings.bgColorSwitcherPrefix.description"
                                            />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="templateTailwindCss.settings.bgColorSwitcher.hide"
                                            />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="templateTailwindCss.settings.bgColorSwitcher.display"
                                            />
                                </option>
                            </select>

                            &lt;!&ndash; Background Color Switcher Suffix&ndash;&gt;
                            <select conf="templateTailwindCss.settings.bgColorSwitcherSuffix">
                                <text>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="templateTailwindCss.settings.bgColorSwitcherSuffix.text"
                                    />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="templateTailwindCss.settings.bgColorSwitcherSuffix.description"
                                    />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="templateTailwindCss.settings.bgColorSwitcher.hide"
                                    />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-tailwindcss"
                                            var="templateTailwindCss.settings.bgColorSwitcher.display"
                                    />
                                </option>
                            </select>

                        </settings>-->

                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="page-content">
            <css src="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic"/>
            <css src="URL_OPT_DIR/quiqqer/template-tailwindcss/bin/css/style.css"/>
            <css src="URL_OPT_DIR/quiqqer/template-tailwindcss/bin/css/editor.css"/>
        </wysiwyg>

    </project>
</quiqqer>