
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('contentPrefix', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('contentSuffix', $Site)}

<main class="container main-no-sidebar-thin">
    {if !empty( $prefixContentBricks )}
    {foreach from=$prefixContentBricks item=Brick}
        <section class="brick-id-{$Brick->getAttribute('id')}">
            <div class="brick-wrapper my-8">
                {if $Brick->getAttribute('frontendTitle')}
                <h1 class="brick-title">
                    {$Brick->getAttribute('frontendTitle')}
                </h1>
                {/if}

                {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
                {$Brick->create()}
            </div>
        </section>
    {/foreach}
    {/if}

    <div role="main" class="main-container my-8">
        {if $pageTitle || $pageShort}
        <div class="main-header">
            {if $pageTitle}
            <h1 class="main-header-title">{$Site->getAttribute('title')}</h1>
            {/if}

            {if $pageShort}
            <div class="main-header-short">
                {$Site->getAttribute('short')}
            </div>
            {/if}
        </div>
        {/if}

        {$Template->getBody()}
    </div>

    {if !empty( $suffixContentBricks )}
    {foreach from=$suffixContentBricks item=Brick}
        <section class="brick-id-{$Brick->getAttribute('id')}">
            <div class="brick-wrapper my-8">
                {if $Brick->getAttribute('frontendTitle')}
                <h1 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h1>
                {/if}

                {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
                {$Brick->create()}
            </div>
        </section>
    {/foreach}
    {/if}
</main>