
{assign var=rightSideBar value=$BricksManager->getBricksByArea('rightSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('contentPrefix', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('contentSuffix', $Site)}

<main class="container main-right-sidebar block md:flex">
    <div class="page-multiple-left page-multiple-content w-full md:w-3/4 pr-0 md:pr-4" role="main">

        {if !empty( $prefixContentBricks )}
        {foreach from=$prefixContentBricks item=Brick}
        <section class="brick-id-{$Brick->getAttribute('id')}">
            <div class="brick-wrapper my-8">
                {if $Brick->getAttribute('frontendTitle')}
                <h1 class="brick-title">
                    {$Brick->getAttribute('frontendTitle')}
                </h1>
                {/if}

                {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
                {$Brick->create()}
            </div>
        </section>
        {/foreach}
        {/if}

        <div role="main" class="main-container">
            {if $pageTitle || $pageShort}
            <div class="main-header my-8">
                {if $pageTitle}
                <h1 class="main-header-title">{$Site->getAttribute('title')}</h1>
                {/if}

                {if $pageShort}
                <div class="main-header-short">
                    {$Site->getAttribute('short')}
                </div>
                {/if}
            </div>
            {/if}

            {$Template->getBody()}
        </div>


        {if !empty( $suffixContentBricks )}
        {foreach from=$suffixContentBricks item=Brick}
        <section class="brick-id-{$Brick->getAttribute('id')}">
            <div class="brick-wrapper my-8">
                {if $Brick->getAttribute('frontendTitle')}
                <h1 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h1>
                {/if}

                {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
                {$Brick->create()}
            </div>
        </section>
        {/foreach}
        {/if}
    </div>

    <div class="page-multiple-right page-multiple-sidebar w-full md:w-1/4 pl-0 md:pl-4">

        {foreach from=$rightSideBar item=Brick}
        <section class="brick-id-{$Brick->getAttribute('id')}">
            <div class="brick-wrapper brick-rightSidebar my-8">
                {if $Brick->getAttribute('frontendTitle') &&
                    $Brick->getType() != 'QUI\Bricks\Controls\Children\Listing'
                }
                <h1 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h1>
                {/if}
                {if $Brick->getType() != 'QUI\Bricks\Controls\Children\Listing'}
                    {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
                {/if}
                {$Brick->create()}
            </div>
        </section>
        {/foreach}
    </div>
</main>