.headerHero-content {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.headerHero-content-wrapper {
    height: 100%;
    padding: 150px 0 250px;
    width: 100%;
}