.verticalTabSwitcher-entries {
    display: flex;
}

.verticalTabSwitcher-nav-entry {
    font-size: 1rem;
}

.verticalTabSwitcher-nav-entry .fa {
    width: 2rem;
    line-height: 2rem;
    text-align: center;
}


.verticalTabSwitcher-content ul>:not(.active) {
    display: none;
}

.verticalTabSwitcher-content-entry {
    position: relative;
}