{if $pageHeader}
{strip}
<header class="page-header" style="background-image: url({image src=$Site->getAttribute('image_emotion') onlysrc=1});">
    <div class="page-header-inner">

        {if $titleAndShortPos == 'header' && ($pageTitle || $pageShort)}
        <div class="container">
            <div class="page-header-content pb-4 pt-8">
                {if $pageTitle}
                <h1 class="page-header-content-title font-normal">{$Site->getAttribute('title')}</h1>
                {/if}

                {if $pageShort}
                <div class="page-header-content-short font-normal">
                    {$Site->getAttribute('short')}
                </div>
                {/if}
            </div>
        </div>
        {/if}
    </div>
</header>
{/strip}
{/if}